.marketx-app {
  display: flex;
}

.header-content{
  width: 100%;
  background-color: #F2F2F2;
  height: 100%;
}

.header-sort {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;

  margin-top: 30px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  /* identical to box height, or 157% */

  color: #6B6C6F;
}

.sort-dropdown {
  display: flex;
  align-items: center;
  width: 230px;
}

.sort-label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #6B6C6F;
}

.sort-select {
  width: 150px;
  padding: 10px 15px;
  background-color: white;
  margin-left: 15px;

  border: 1px solid #E8E9EB;
  box-sizing: border-box;
  border-radius: 4px;

  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  /* identical to box height */

  color: #3F434A;  
}

.content {
  background-color: #F2F2F2;
  height: 100%;
  padding: 0px 40px;
}